@charset "utf-8";

/* common.css */

/* 
1) 공통으로 사용할 css
2) 웹폰트 설정
*/


.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.inner {
    width: 1280px;
    margin: 0 auto;
}

/* 구글웹폰트 */
.chonburi-regular {
    font-family: "Chonburi", serif;
    font-weight: 400;
    font-style: normal;
}

.noto-sans-kr {
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}